Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Fixed typo in exchange.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/Exchange.json
Due: none

Fixed minor warnings after merge main
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
Due: integration

Initial database migration
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/JobsTable.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.sln
Due: none

initial pipeline test
  .github/workflows/coordinator-cd.yml
Due: none

removed func deploy
  .github/workflows/coordinator-cd.yml
Due: none

.
  .github/workflows/coordinator-cd.yml
Due: none

ref to migration
  source/coordinator/GreenEnergyHub.Aggregation.Application/GreenEnergyHub.Aggregation.Application.csproj
Due: unit-dotnet

mig test
  .github/workflows/coordinator-cd.yml
Due: none

mig2
  .github/workflows/coordinator-cd.yml
Due: none

mir3
  .github/workflows/coordinator-cd.yml
Due: none

mir4
  .github/workflows/coordinator-cd.yml
Due: none

kv1
  .github/workflows/coordinator-cd.yml
Due: none

Clean upfor PR
  .github/workflows/coordinator-cd.yml
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
Due: none

Fixed MeteringGridAreaDomainMRID for neighbour exchange messages
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
Due: unit-dotnet

Implemented connection string as first parameter to the Database Migration Project, insted of hardcoded value
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
Due: none

metadata infrastructure code (#107)
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/kv-sharedresources.tf
  build/infrastructure/sqldb-metadata.tf
  build/infrastructure/variables.tf
Due: none

Added copyright to files
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/JobsTable.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
Due: none

Feature/128189 metadata schema (#108)
  .github/workflows/coordinator-cd.yml
  source/coordinator/GreenEnergyHub.Aggregation.Application/GreenEnergyHub.Aggregation.Application.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/JobsTable.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.sln
Due: unit-dotnet

DAL interface
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Properties/launchSettings.json
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Added Unique Constraint on Results table. Some refactor of migration file names
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/001_JobsTable.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/002_CreateUniqueIndexOnResults.cs
Due: none

Add type of message
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IDispatchStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExchangeNeighbourResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregationResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/ConsumptionResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufMessageSerializer.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapper.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapper`1.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageDispatcher.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageSerializer.cs
Due: unit-dotnet, integration

yml
  .github/workflows/coordinator-cd.yml
Due: none

Update coordinator-cd.yml
  .github/workflows/coordinator-cd.yml
Due: none

Update coordinator-cd.yml (#109)
  .github/workflows/coordinator-cd.yml
Due: none

Change total_consumption to sum_quantity
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/tests/aggregation_utils/aggregators/test_total_consumption.py
Due: none

Add gridloss to results
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

Merged wheel file
  .github/workflows/aggregation-job-infra-cd.yml
  .github/workflows/build-publish-wheel-file.yml
Due: none

.
  .github/workflows/aggregation-job-infra-cd.yml
Due: none

Fix/merge dbr actions (#110)
  .github/workflows/aggregation-job-infra-cd.yml
  .github/workflows/build-publish-wheel-file.yml
Due: none

Change dto send to CreateMessage and adjust unit test
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step01ExchangePerNeighbourStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step02ExchangeStrategyTests.cs
Due: unit-dotnet

fix ExchangeNeighbourStrategy to groupby in and out gridarea
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/ExchangeNeighbour.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step01ExchangePerNeighbourStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step02ExchangeStrategyTests.cs
Due: unit-dotnet

Initial approach for api
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/GreenEnergyHub.Aggregation.CoordinatorFunction.csproj
Due: integration

Refine api descriptions
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

WIP
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

.
  build/infrastructure/azfun-coordinator.tf
Due: none

.
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
Due: unit-dotnet, integration

.
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

fix actions/checkout to master to prevent v2 warnings
  .github/workflows/aggregation-job-infra-cd.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/license-check-ci.yml
  .github/workflows/md-check.yml
  NOTICE.md
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
