Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

Update test to use new method
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
  source/databricks/tests/helpers/dataframe_creators/calculate_daily_subscription_price_creator.py
  source/databricks/tests/helpers/dataframe_creators/test_dataframe_creators.py
  source/databricks/tests/wholesale_utils/calculators/test_subscription_calculators.py
Due: none

Use correct nameof in GetLogger
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

Update issue templates
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Project_Risk.md
  .github/ISSUE_TEMPLATE/Support_Question.md
  .github/ISSUE_TEMPLATE/feature-template.md
Due: none

WIP
  source/test-data-generation/GreenEnergyHub.Aggregation.TestFrontend/Views/Home/Index.cshtml
Due: none

Downgrade to 3.1
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/GreenEnergyHub.Aggregation.TestData.Application.csproj
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Generator/GreenEnergyHub.Aggregation.TestData.GeneratorFunction.csproj
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/GreenEnergyHub.Aggregation.TestData.Infrastructure.csproj
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Tests/GreenEnergyHub.Aggregation.TestData.Tests.csproj
Due: none

datapreparation
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobProcessTypeEnum.cs
Due: unit-dotnet, integration

WIP
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/__init__.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

Add dataPreparation to CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: unit-dotnet, integration

Added periodical dataframe filtering when loading master data
  source/databricks/geh_stream/shared/data_loader.py
  source/databricks/geh_stream/shared/filters.py
  source/databricks/geh_stream/shared/period.py
  source/databricks/tests/shared/test_filters.py
Due: none

Fix linting
  source/databricks/tests/shared/test_filters.py
Due: none

Increase mem on driver to 15G
  .devcontainer/spark-defaults.conf
Due: none

Working prep job
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
  source/databricks/geh_stream/shared/services/protocol.py
Due: none

Agg and Whole works
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/__init__.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

sql script
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202109011100_DropExistingTablesAndInsertNewTables.sql
Due: none

Add snapshot to dataAccess
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Snapshot.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Refactored arguments
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/coordinator_service.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

removed empty file
  source/databricks/geh_stream/shared/services/protocol.py
Due: none

license
  source/databricks/aggregation-jobs/preparation_trigger.py
Due: none

Tweaks from PR demo
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

Refactor dataPreparationJob
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202109011100_DropExistingTablesAndInsertNewTables.sql
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Snapshot.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Refactor TriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
Due: unit-dotnet

refactor
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: unit-dotnet, integration

corrections to DataAccess
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

moved enums to enums folder
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobProcessTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
Due: unit-dotnet, integration

Working coordinator
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Snapshot.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Adjust decimaltype precision
  source/databricks/geh_stream/schemas/charges_schema.py
  source/databricks/geh_stream/schemas/output/calculate_daily_subscription_price_schema.py
  source/databricks/geh_stream/schemas/output/calculate_fee_charge_price_schema.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_system_correction.py
Due: none

upgrade spark version
  .devcontainer/Dockerfile
Due: none

fix small typo
  .devcontainer/Dockerfile
Due: none

Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

Move parameters to prepArgs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
Due: none

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
Due: unit-dotnet

Add Async postfix to UpdateSnapshotPath To reflect that it is a async method
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Rename GetTriggerPrepArguments To stay true to naming convention
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
Due: unit-dotnet

Create GetTriggerWholesaleArguments Made GetTriggerBaseArguments privat
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
Due: unit-dotnet

Rename TriggerBaseArguments.cs To reflect multiple trigger argument methods
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: unit-dotnet, integration

removed unused module
  .devcontainer/spark-defaults.conf
Due: none
