Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

Update sonarcloud-python.yml
  .github/workflows/sonarcloud-python.yml
Due: none

Update CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

Update sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-dotnet.yml
Due: none

Update README.md
  README.md
Due: none

Update Readme.md
  source/coordinator/Readme.md
Due: none

Update conftest.py
  source/databricks/tests/conftest.py
Due: none

Moved DistributionListService into namespace
  source/coordinator/GreenEnergyHub.Aggregation.Application/Services/DistributionListService.cs
Due: unit-dotnet

Moved DistributionListService into namespace (#122)
  source/coordinator/GreenEnergyHub.Aggregation.Application/Services/DistributionListService.cs
Due: unit-dotnet

fix client could be null error
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/BlobStorage/BlobService.cs
Due: integration

Kristianschneider/fix null client (#123)
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/BlobStorage/BlobService.cs
Due: integration

remove unused code
  .github/actions/terraform-cd/action.yml
Due: none

wip modify step 1 with aggregated quality
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

unit test fixed for step 1
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

add unit test for use with numeric value for quality
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

Use dbup instead of fluentmigrator
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/001_JobsTable.sql
Due: none

Initital MetaDataDataAccess imp
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

Replace fluent migrator witn dbup in coordinator-cd.yml
  .github/workflows/coordinator-cd.yml
Due: none

Remove old migration
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/JobsTable.cs
Due: none

More explicit file path
  .github/workflows/coordinator-cd.yml
Due: none

yml file path
  .github/workflows/coordinator-cd.yml
Due: none

Update coordinator-cd.yml
  .github/workflows/coordinator-cd.yml
Due: none

Moved migration
  .github/workflows/coordinator-cd.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Get secrets
  .github/workflows/infrastructure-cd.yml
Due: none

Remove fluent migrator nugets
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
Due: none

Change naming of tables
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/001_JobsTable.sql
Due: none

Refactor
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Added documentation to interface
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
Due: integration

Added new field to Result
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/001_JobsTable.cs
Due: none

Added missing copyright
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/002_CreateUniqueIndexOnResults.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration
