Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Work in progress
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/__init__.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/schemas/charges_schema.py
  source/databricks/geh_stream/schemas/output/__init__.py
  source/databricks/geh_stream/schemas/output/calculate_daily_subscription_price_schema.py
  source/databricks/geh_stream/schemas/output/calculate_fee_charge_price_schema.py
  source/databricks/geh_stream/schemas/output/calculate_tariff_price_per_ga_co_es_schema.py
  source/databricks/geh_stream/shared/data_loader.py
  source/databricks/geh_stream/shared/filters.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_system_correction.py
Due: none

tariff output schema
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/schemas/output/__init__.py
  source/databricks/geh_stream/schemas/output/calculate_tariff_price_per_ga_co_es_schema.py
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
Due: none

snapshot-id in header
  source/databricks/geh_stream/shared/services/coordinator_service.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
Due: none

change result-id to job-id for arguments in python
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/coordinator_service.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
  source/databricks/readme.md
Due: none

remove telemetry key from arguments for databricks jobs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: unit-dotnet, integration

move beginning and end date time arguments to data preparation job
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/shared/services/coordinator_service.py
Due: none

make date filtering work
  source/databricks/geh_stream/shared/filters.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

Preparation job (#296)
  .devcontainer/spark-defaults.conf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/preparation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/__init__.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/trigger_base_arguments.py
  source/databricks/geh_stream/codelists/colname.py
  source/databricks/geh_stream/schemas/charges_schema.py
  source/databricks/geh_stream/schemas/output/__init__.py
  source/databricks/geh_stream/schemas/output/calculate_daily_subscription_price_schema.py
  source/databricks/geh_stream/schemas/output/calculate_fee_charge_price_schema.py
  source/databricks/geh_stream/schemas/output/calculate_tariff_price_per_ga_co_es_schema.py
  source/databricks/geh_stream/shared/data_loader.py
  source/databricks/geh_stream/shared/filters.py
  source/databricks/geh_stream/shared/services/__init__.py
  source/databricks/geh_stream/shared/services/coordinator_service.py
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
  source/databricks/geh_stream/shared/services/postprocessor.py
  source/databricks/geh_stream/shared/spark_initializer.py
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
  source/databricks/readme.md
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_system_correction.py
Due: unit-dotnet, integration

add configuration to python file
  build/infrastructure/azfun-coordinator.tf
Due: none

remove use statement
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202109011100_DropExistingTablesAndInsertNewTables.sql
Due: none

remove use statement (#305)
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202109011100_DropExistingTablesAndInsertNewTables.sql
Due: none

fix misspell of sql parameter
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

fix misspell of sql parameter (#306)
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

fix sql syntax
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

fix sql syntax (#307)
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

another syntax fix
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

Removed debug show
  source/databricks/geh_stream/shared/services/inputoutputprocessor.py
Due: none

Feature/268 fix sql syntax (#308)
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

add method to get job from database
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/GreenEnergyHub.Aggregation.CoordinatorFunction.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Snapshot.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Removed result handler
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: integration

style nazi
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: integration

id
  source/databricks/geh_stream/shared/services/coordinator_service.py
Due: none

save results to database
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: unit-dotnet, integration

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

Update source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

use ChargeType instead of local string
  source/databricks/tests/helpers/dataframe_defaults.py
Due: none

Create foundation for testing of fee calculators
  source/databricks/tests/helpers/dataframe_creators/__init__.py
  source/databricks/tests/helpers/dataframe_creators/calculate_fee_charge_price_creator.py
  source/databricks/tests/wholesale_utils/calculators/test_fee_calculators.py
Due: none

Refactor subscription test
  source/databricks/tests/wholesale_utils/calculators/test_subscription_calculators.py
Due: none

Add fee calculator test of two fees
  source/databricks/tests/wholesale_utils/calculators/test_fee_calculators.py
Due: none

Initial work
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Domain/ChargeLinkCreated.proto
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub.Aggregation.Domain.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.sln
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/.gitignore
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/Program.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/Properties/serviceDependencies.json
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/Properties/serviceDependencies.local.json
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/ServiceBusListenerFunction.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/host.json
Due: none

Convert protobuf to json for eventhub
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Infrastruct/EventHubService.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Infrastruct/GreenEnergyHub.Aggregation.Infrastruct.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.sln
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/ServiceBusListenerFunction.cs
Due: none

split subscription calculation into more testable methods with unit test of calculate price per day
  source/databricks/geh_stream/schemas/output/__init__.py
  source/databricks/geh_stream/schemas/output/charges_per_day_flex_settled_consumption_schema.py
  source/databricks/geh_stream/wholesale_utils/calculators/subscription_calculators.py
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
  source/databricks/tests/wholesale_utils/calculators/test_subscription_calculators.py
Due: none

Move stest specific schemas to tests and more tests
  source/databricks/tests/helpers/test_schemas/__init__.py
  source/databricks/tests/helpers/test_schemas/charges_per_day_flex_settled_consumption_schema.py
  source/databricks/tests/helpers/test_schemas/charges_per_day_schema.py
  source/databricks/tests/wholesale_utils/calculators/test_subscription_calculators.py
Due: none

Split fee calculator metod in to more testable methods
  source/databricks/geh_stream/wholesale_utils/calculators/fee_calculators.py
  source/databricks/tests/helpers/test_schemas/__init__.py
  source/databricks/tests/helpers/test_schemas/charges_flex_settled_consumption_schema.py
  source/databricks/tests/wholesale_utils/calculators/test_fee_calculators.py
  source/databricks/tests/wholesale_utils/calculators/test_subscription_calculators.py
Due: none

Initial scaffolding
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/EventDispatcher.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/GreenEnergyHub.Aggregation.Application.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/IEventDispatcher.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/Interfaces/IEventHubService.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Domain/Contracts/ChargeLink/ChargeLinkCreated.proto
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub - Backup.Aggregation.Domain.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Infrastruct/EventHubService.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Infrastruct/GreenEnergyHub.Aggregation.Infrastruct.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.sln
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction.csproj
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/Program.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/ServiceBusListenerFunction.cs
Due: none

Implemented mapper for protobuf contracts
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/EventDispatcher.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Application/IEventDispatcher.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.Domain/Contracts/ChargeLink/ChargeLinkCreated.proto
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/Program.cs
  source/ServiceBus-To-EventHub-Function/GreenEnergyHub.Aggregation.ServiceBusToEvtHubFunction/ServiceBusListenerFunction.cs
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
