Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Fix missed naming in test_adjust_production
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

Implement Names enum in aggregation_postprocessor
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

Change ' to " in Names enum
  source/databricks/geh_stream/codelists/names.py
Due: none

Implement constants for strings used multiple time locally
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
  source/databricks/geh_stream/aggregation_utils/aggregators/combine_master_data.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

Update BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
Due: unit-dotnet

E221 multiple spaces before operator
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

minor renaming of variables
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

use correct column grid_area in filter
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

change name of schema and type used for column quantity
  source/databricks/geh_stream/schemas/time_series.py
Due: none

remove outcommented load method for time series dataframe loader
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

remove outcommented debug sections in aggregation initializer
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Change charge price to DecimalType
  source/databricks/geh_stream/schemas/charges_schema.py
Due: none

add string extension for datetime iso 8601 string representation
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Extensions/StringExtensions.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/BalanceResponsiblePartyRelation.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/Charge.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/ChargeLink.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/ChargePrice.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/MarketRole.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/MeteringPoint.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/SpecialMeteringPoint.cs
Due: none

type changed to decimal on ChargePrice
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/ChargePrice.cs
Due: none

add license header
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Extensions/StringExtensions.cs
Due: none

add wholesale function
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
Due: unit-dotnet, integration

add wholesale trigger
  source/databricks/aggregation-jobs/wholesale_trigger.py
Due: none

fix errors
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

reference added cosmos secrets in pipelines
  .github/actions/terraform-cd/action.yml
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

fix typo
  build/infrastructure/variables.tf
Due: none

another typo
  build/infrastructure/azfun-coordinator.tf
Due: none

add app settings for cosmos related secrets
  .github/actions/terraform-cd/action.yml
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

add secrets to infra pipeline
  .github/workflows/infrastructure-cd.yml
Due: none

change inputs with secrets
  .github/workflows/infrastructure-cd.yml
Due: none

Update action.yml
  .github/actions/terraform-cd/action.yml
Due: none

initialize Owner in Job object
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
Due: unit-dotnet

remove result-id
  source/databricks/aggregation-jobs/wholesale_trigger.py
Due: none

add wholesale python file path to coordinator infra
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/wholesale_trigger.py
Due: unit-dotnet, integration

add vs code terraform extension
  .devcontainer/devcontainer.json
Due: none

rearrange job trigger functions
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

change comment
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

add cosmos container names and resolution to app settings in coordinator function
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
Due: unit-dotnet, integration

mix and match variables in terraform and argument list
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/BlobStorage/BlobService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: unit-dotnet, integration

rename action variables
  .github/actions/terraform-cd/action.yml
Due: none

remove resolution from terraform variables and add as function parameter
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: unit-dotnet, integration

add terraform extension to devcontainer
  .devcontainer/devcontainer.json
Due: none

update sparkversion on cluster terraform
  build/databricks_aggregation_cluster/main.tf
Due: none

remove telemetry related code from coordinator service
  source/databricks/geh_stream/aggregation_utils/services/coordinator_service.py
Due: none

update default value for time series path
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

align arguments and add charge related cosmos container args
  source/databricks/aggregation-jobs/wholesale_trigger.py
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
