Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

add required args only
  source/databricks/readme.md
Due: none

Rename some about dishpatcher and removed todos
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/PostOfficeDispatcher.cs
Due: unit-dotnet, integration

Initial attempt
  build/infrastructure/azfun-coordinator.tf
Due: none

vars
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

syntax
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

Get configuration from secrets instead of typing in manually (#99)
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

rename domain models
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedBalanceResponsibleResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedBalanceSupplierResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedGridAreaResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: unit-dotnet

remove prints
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption_ga_brp_es.py
Due: none

add condition on grid area and mp type to join
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

add tests on expected schema
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
  source/databricks/tests/aggregation_utils/aggregators/test_aggregate_quality.py
Due: none

replace hardcoded quality value by enum value
  source/databricks/tests/aggregation_utils/aggregators/test_added_system_correction.py
Due: none

remove code comment
  source/databricks/tests/aggregation_utils/aggregators/test_aggregate_quality.py
Due: none

initial work
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

add row count test on input and output df
  source/databricks/tests/aggregation_utils/aggregators/test_aggregate_quality.py
Due: none

WIP
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

Reduce the result set to only include what needs to be send to the coordinator
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

fixed omitted results
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

.
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

wip
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/__init__.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: unit-dotnet, integration

snapshot notification for coordinator
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
  source/databricks/geh_stream/aggregation_utils/services/coordinator_service.py
Due: unit-dotnet, integration

better logging
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: unit-dotnet

.
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

.
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

Refactored preparation of result messages
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IDispatchStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedBalanceResponsibleResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeNeighbourResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedGridAreaResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/ConsumptionResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/ProcessType.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExhangeResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: unit-dotnet, integration

make sure columns are defined as TimestampType
  source/databricks/test_data_creation/data_creator.py
Due: none

date columns as TimestampType for grid loss and system correction dataframe
  source/databricks/test_data_creation/data_creator.py
Due: none

New approach for storing results
  source/coordinator/GreenEnergyHub.Aggregation.Application/Utilities/InputStringParser.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/BlobStorage/BlobService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputStringParserTests.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
  source/databricks/geh_stream/aggregation_utils/services/blob_service.py
Due: unit-dotnet, integration

Refactored strategies to preparing messages more generically
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/AggregationResultDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ConsumptionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeNeighbourDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeNeighbourResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/ConsumptionResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/EnergyObservation.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/SettlementMethodType.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/Exchange.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/ExchangeNeighbour.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/TestData.cs
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: unit-dotnet

Handling of new result format
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Utilities/InputStringParser.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputStringParserTests.cs
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: unit-dotnet, integration

remove aggregated_quality column from grid loss dataframe
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
Due: none

fix adjust_flex_consumption implementation and test
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_flex_consumption.py
Due: none

fix adjust_production implementation and test
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

added results['grid_loss_df']
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

removed colasce
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

Test
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

revert
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

try removing gzip
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none
