Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

refactor calculation engine
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/ICalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
Due: unit-dotnet, integration

refactor CoordinatorService
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
Due: unit-dotnet

JobMetadata to Job
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

refactor TriggerArguments
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
Due: unit-dotnet

change ordering in Job domain model constructor
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
Due: unit-dotnet

process type can be null in job table
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202110131040_Change_meta_data_tables.sql
Due: none

Refactored to more generic forwarding of integration events, making use of MediatR unnecessary
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Application/MeteringPoints/ConsumptionMeteringPointHandlerTests.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Energinet.DataHub.Aggregations.Tests.csproj
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/Mappers/ConsumptionMeteringPointCreatedMapperTests.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/Mappers/MeteringPointConnectedMapperTests.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/ICommand.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/IntegrationEvents/MeteringPoints/ConsumptionMeteringPointCreatedEvent.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/IntegrationEvents/MeteringPoints/MeteringPointConnectedEvent.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/MeteringPoints/ConsumptionMeteringPointHandler.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Energinet.DataHub.Aggregations.Infrastructure.csproj
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/ConsumptionMeteringPointCreatedMapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/MeteringPointConnectedMapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/ProtobufToDomainTypeParser.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/ProtoFiles/MeteringPointConnected.proto
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/EventListenerFunction.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Program.cs
Due: none

Review changes
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/EventDispatcher.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Serialization/JsonSerializer.cs
Due: none

DataAccess for jobResult
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobResult.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
Due: unit-dotnet, integration

is this a simulation
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

missing vars
  build/databricks_streaming_cluster/variables.tf
Due: none

outcomment code for post processing
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
Due: unit-dotnet

remove input processor and strategy related code
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ConsumptionStrategiesTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeStrategiesTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputStringParserTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ProductionStrategiesTests.cs
Due: unit-dotnet, integration

make enums explicit
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobProcessTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobProcessVariantEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultGroupingEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultStateEnum.cs
Due: unit-dotnet

Feature/399 delta lake (#414)
  .github/workflows/infrastructure-cd.yml
  .github/workflows/streaming-job-infra-cd.yml
  build/databricks_streaming_cluster/main.tf
  build/databricks_streaming_cluster/variables.tf
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

Insert results into result table with dbup
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202110141055_Insert_results_into_result_table.sql
Due: none

fix query parameter implementation after refactor
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

Interface for GetResults
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Initial test code
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
Due: none

.
  .github/workflows/infrastructure-cd.yml
Due: none

-
  .github/workflows/infrastructure-cd.yml
Due: none

.
  build/infrastructure/azfun-coordinator.tf
Due: none

Implement GetResultsByType
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

Added missing license disclaimer to solution files
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Energinet.DataHub.Aggregations.Tests.csproj
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Domain/Energinet.DataHub.Aggregations.Domain.csproj
Due: none

Added last copyright disclaimers and minor cleanup
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Attributes/AutoMoqDataAttribute.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Attributes/InlineAutoMoqDataAttribute.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Energinet.DataHub.Aggregations.Tests.csproj
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/EventDispatcherTests.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/Mappers/ConsumptionMeteringPointCreatedMapperTests.cs
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/Mappers/MeteringPointConnectedMapperTests.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/IntegrationEvents/MeteringPoints/MeteringPointConnectedEvent.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/Interfaces/IEventDispatcher.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/EventDispatcher.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/ConsumptionMeteringPointCreatedMapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/MeteringPointConnectedMapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/ProtobufToDomainTypeParser.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Wrappers/EventHubProducerClientWrapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Wrappers/IEventHubProducerClientWrapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Program.cs
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.Infrastructure/EventHubService.cs
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/.gitignore
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/GreenEnergyHub.Aggregation.IntegrationEventReceiver.csproj
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/Program.cs
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/Properties/serviceDependencies.json
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/Properties/serviceDependencies.local.json
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/ServiceBusListenerFunction.cs
  source/ServiceBus-To-EventHub-Dispatcher/GreenEnergyHub.Aggregation.IntegrationEventReceiver/host.json
Due: none

Added .editorconfig to test solution to ignore configureawait warnings in unit tests
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/.editorconfig
Due: none

Structural changes
  source/databricks/geh_stream/shared/spark_initializer.py
  source/databricks/streaming-jobs/eventhub_ingestor.py
  source/databricks/streaming-jobs/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

Added handling of EnergySupplierChanged integration event
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/Mappers/EnergySupplierChangedMapperTests.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/IntegrationEvents/MeteringPoints/EnergySupplierChangedEvent.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Mappers/EnergySupplierChangedMapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/ProtoFiles/EnergySupplierChanged.proto
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Program.cs
Due: none

Test of mulitple streams
  source/databricks/streaming-jobs/eventhub_ingestor.py
  source/databricks/streaming-jobs/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

Added event metadata to eventhub message
  source/EventReceiver/Energinet.DataHub.Aggregations.Tests/Infrastructure/EventDispatcherTests.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Application/Interfaces/IEventDispatcher.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/EventDispatcher.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Wrappers/EventHubProducerClientWrapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Wrappers/IEventHubProducerClientWrapper.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/EventListenerFunction.cs
Due: none

move code to wheel
  source/databricks/geh_stream/streaming_utils/__init__.py
  source/databricks/geh_stream/streaming_utils/eventhub_ingestor.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

refactor coordinator service
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobResult.cs
Due: unit-dotnet

GetPath
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

Removed handling of mp connected and es changed events as they are not working properly
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Program.cs
Due: none

remove unused usings
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
Due: integration

remove comments
  source/databricks/streaming-jobs/streaming.py
Due: none

416 event ingestion (#428)
  .devcontainer/Dockerfile
  .devcontainer/spark-defaults.conf
  source/databricks/streaming-jobs/streaming.py
Due: none

Fix stuff
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

More fix
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet
