Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

moved local
  build/infrastructure/cosmos-master-data.tf
  build/infrastructure/locals.tf
Due: none

typo
  build/infrastructure/cosmos-master-data.tf
  build/infrastructure/locals.tf
Due: none

Fix purge of cosmos container
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/IMasterDataStorage.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/MasterDataStorage.cs
Due: none

WIP
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

add todo tree + path intellisense
  .devcontainer/devcontainer.json
Due: none

Rename to mtering point type
  source/databricks/geh_stream/schemas/es_brp_relations_schema.py
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/BalanceResponsiblePartyRelation.cs
Due: none

add markdown lint
  .devcontainer/devcontainer.json
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageSerializer.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageSerializer.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageDispatcher.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageDispatcher.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/Transport/IInboundMessage.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/IInboundMessage.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/JsonSerializerWithOption.cs
  source/messaging/source/GreenEnergyHub.Messaging/JsonSerializerWithOption.cs
Due: none

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
Due: unit-dotnet

Rename colnames
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/codelists/columns.py
  source/databricks/geh_stream/shared/data_loader.py
Due: none

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
Due: integration

Update source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeSeriesDispatcher.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeSeriesDispatcher.cs
Due: integration

Update source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/HandlerExtensions.cs
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/HandlerExtensions.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufMessageSerializer.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufMessageSerializer.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapper.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapper.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapperFactory.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufOutboundMapperFactory.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/Dispatching/BaseCommandHandler.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/BaseCommandHandler.cs
Due: none

Update source/messaging/source/GreenEnergyHub.Messaging/Dispatching/BaseRequestHandler.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/BaseRequestHandler.cs
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
