Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Apply suggestions from code review
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubCommand.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubCommandHandler.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubCommandMediator.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubRequest.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubRequestHandler.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/HubRequestMediator.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/IHubCommandMediator.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/IHubRequestBulkMediator.cs
  source/messaging/source/GreenEnergyHub.Messaging/Dispatching/IHubRequestMediator.cs
  source/messaging/source/GreenEnergyHub.Messaging/IHubRehydrate.cs
Due: none

removed unused refs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ConsumptionStrategiesTests.cs
Due: unit-dotnet

clean up
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

change resolution duration from enum to class with strings
  source/databricks/geh_stream/codelists/resolution_duration.py
Due: none

add charge related column strings to Colname
  source/databricks/geh_stream/codelists/columns.py
Due: none

use Colname and ResolutionDuration instead of strings in wholesale initializer
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
Due: none

linting error
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
Due: none

Fixes after main merge
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
Due: unit-dotnet

Cleanup warnings
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/AggregationResultDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeNeighbourDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/GridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MarketDocumentDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/SystemCorrectionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub.Aggregation.Domain.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointMessage/MeteringPointOutboundMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointMessage/PeriodDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointMessage/PointsDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointMessage/RecipientMarketParticipantDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointMessage/SenderMarketParticipantDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/EnergyObservation.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
Due: unit-dotnet, integration

remove check for null
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

Fixed failing unit test
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ConsumptionStrategiesTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ProductionStrategiesTests.cs
Due: none

WIP
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Utilities/EnumExtension.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobProcessTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/ResultStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

WIP. SQL upgrade script
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202108101448_UpdateResultTable.sql
Due: unit-dotnet

limit number of records being written to cosmos db
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/IMasterDataStorage.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/MasterDataStorage.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Extensions/AsyncEnumerableExtensions.cs
Due: none

SQL Update state in Result table Ignore launch settings
  .gitignore
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
Due: none

remove empty line
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
Due: none

add license
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Extensions/AsyncEnumerableExtensions.cs
Due: none

Update source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
Due: none

check for null
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/MasterDataStorage.cs
Due: none

null check again
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/CosmosDb/MasterDataStorage.cs
Due: none

ignore blank lines
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/TestDataParserBase.cs
Due: none

remove step to replace nulls with 0
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

set default resolution to 60 minutes
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

remove default value
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

fix merge issue
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Adjustments from test
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Fixed wholesale trigger
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/shared/__init__.py
  source/databricks/geh_stream/shared/spark_initializer.py
  source/databricks/geh_stream/wholesale_utils/__init__.py
  source/databricks/geh_stream/wholesale_utils/calculators/__init__.py
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
Due: none

fix blank line error
  source/databricks/geh_stream/wholesale_utils/calculators/tariff_calculators.py
Due: none

Tweaks from feedback
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202108101448_UpdateResultTable.sql
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202108101448_Updates.sql
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobMetadata.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Friendly errormessages when consuming endpoint
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

Licenses
  source/coordinator/GreenEnergyHub.Aggregation.Application/Utilities/EnumExtension.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobProcessTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/ResultStateEnum.cs
Due: unit-dotnet

Nit
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

add data exporter
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/shared/data_exporter.py
Due: none

Added skeleton for calculating daily tariffs
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/codelists/__init__.py
  source/databricks/geh_stream/codelists/charge_type.py
  source/databricks/geh_stream/codelists/resolution_duration.py
  source/databricks/geh_stream/wholesale_utils/calculators/__init__.py
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Infrastructure/Models/BalanceResponsiblePartyRelation.cs
Due: none

ignore result dumps created when running aggregation trigger
  .gitignore
Due: none

wip filter and join mess
  source/databricks/geh_stream/wholesale_utils/wholesale_initializer.py
Due: none

small fixes from comment
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
Due: unit-dotnet

Small test for enum extension
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EnumExtensionTests.cs
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
