Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

WIP
  source/databricks/geh_stream/bus/dispatcher.py
  source/databricks/geh_stream/event_dispatch/__init__.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/events/broker.py
  source/databricks/geh_stream/events/meteringpoint.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
Due: none

add resolution to Job
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202110131040_Change_meta_data_tables.sql
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
Due: unit-dotnet

add resolution enum
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResolutionEnum.cs
Due: unit-dotnet

refactor job insert method to include resolution
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

change from IEnumerable to object ref
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobResult.cs
Due: unit-dotnet

add meta data dictionary to aggregation argument list
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaDataInfoDto.cs
Due: unit-dotnet, integration

WIP scafolding for event dispatching
  .devcontainer/Dockerfile
  source/databricks/geh_stream/event_dispatch/__init__.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/events/broker.py
  source/databricks/geh_stream/events/meteringpoint.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
Due: none

No more cosmos and serialize dictionary
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

Refactor logging messages in calculation engine
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
Due: integration

Unittest for coordinatorService ready for action
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/CoordinatorServiceTests.cs
Due: unit-dotnet

format code
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/streaming_utils/eventhub_ingestor.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

fix references
  source/databricks/geh_stream/bus/dispatcher.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
Due: none

remove code comment
  source/databricks/streaming-jobs/streaming.py
Due: none

use specific version of scipy notebook
  .devcontainer/Dockerfile
Due: none

Tests for StartAggregationJobAsync
  source/coordinator/GreenEnergyHub.Aggregation.Tests/CoordinatorServiceTests.cs
Due: none

Licensing
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResolutionEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaDataInfoDto.cs
Due: unit-dotnet

wip: adjust dispatcher logic and be able to debug streaming jobs
  .devcontainer/Dockerfile
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/wholesale_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/bus/__init__.py
  source/databricks/geh_stream/bus/broker.py
  source/databricks/geh_stream/bus/dispatcher.py
  source/databricks/geh_stream/bus/messages/__init__.py
  source/databricks/geh_stream/bus/messages/meteringpoint.py
  source/databricks/geh_stream/bus/registry.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/shared/data_loader.py
  source/databricks/geh_stream/streaming_utils/eventhub_ingestor.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
  source/databricks/streaming-jobs/__init__.py
  source/databricks/streaming-jobs/streaming.py
Due: none

Update source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
Due: unit-dotnet

resolve indentation mismatch
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202110131040_Change_meta_data_tables.sql
Due: none

use explicit naming of ids for results in test
  source/coordinator/GreenEnergyHub.Aggregation.Tests/CoordinatorServiceTests.cs
Due: none

remove jobtype parameter
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

set path in local variable
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

remove unused properties from class
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorSettings.cs
Due: unit-dotnet

use processVariant in implementation
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
Due: unit-dotnet

rename namespace
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ITriggerBaseArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/ICalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/TriggerArguments.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobProcessTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobProcessVariantEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/JobTypeEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResolutionEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultGroupingEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Enums/ResultStateEnum.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobResult.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Snapshot.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/CoordinatorServiceTests.cs
Due: unit-dotnet, integration

initialize result
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/JobResult.cs
Due: unit-dotnet

set property nullable
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
Due: unit-dotnet

remove default initializers
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaDataInfoDto.cs
Due: unit-dotnet

rename class and interface
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Interfaces/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CalculationEngine.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/CoordinatorServiceTests.cs
Due: unit-dotnet, integration

Add adaption over message lib code to enable multiple integration event handlers
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/MessageExtractor.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/Registration/ProtobufOneOfConfiguration.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/Registration/ServiceCollectionProtobufExtensions.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/Serialization/MessageDeserializer.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/Serialization/ProtobufDeserializer.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.Infrastructure/Messaging/Serialization/ProtobufParser.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Configuration/ConsumptionMeteringPointCreatedHandlerConfiguration.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Configuration/EnergySupplierChangedHandlerConfiguration.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Configuration/MeteringPointConnectedHandlerConfiguration.cs
  source/EventReceiver/source/Energinet.DataHub.Aggregations.IntegrationEventListener/Program.cs
Due: none

wip: dispatch message correctly and use correct handler
  source/databricks/geh_stream/bus/__init__.py
  source/databricks/geh_stream/bus/messages/meteringpoint.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/streaming_utils/eventhub_ingestor.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

wip: from event to dataframe and store in delta lake
  source/databricks/geh_stream/bus/messages/meteringpoint.py
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
  source/databricks/streaming-jobs/streaming.py
Due: none

handle effective_date using dateutil
  source/databricks/geh_stream/bus/messages/meteringpoint.py
Due: none

update SettlementMethodUpdated class
  source/databricks/geh_stream/bus/messages/meteringpoint.py
Due: none

clean up
  source/databricks/geh_stream/streaming_utils/events_data_lake_listener.py
Due: none

remove test code to store dataframe
  source/databricks/geh_stream/event_dispatch/meteringpoint_dispatcher.py
Due: none

use initialize_spark from data loader
  source/databricks/streaming-jobs/streaming.py
Due: none

remove unused imports
  source/databricks/streaming-jobs/streaming.py
Due: none

small adjustments
  source/databricks/geh_stream/shared/data_loader.py
  source/databricks/geh_stream/streaming_utils/eventhub_ingestor.py
Due: none
