Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

remove AggregatedQuality from ConsumptionDto
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ConsumptionDto.cs
Due: unit-dotnet

use window function on Time column
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

limit amount of objects in test data
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/Exchange.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/FlexConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/GridLoss.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyProduction.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlySettledConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/SystemCorrection.json
Due: none

wip change implementation of aggregate quality for total consumption
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
  source/databricks/tests/aggregation_utils/aggregators/test_aggregate_quality.py
Due: none

Initital refactor of date handling
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/GreenEnergyHub.Aggregation.Application.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ConsumptionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExchangeNeighbourResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: unit-dotnet, integration

Add test class
  source/coordinator/GreenEnergyHub.Aggregation.Tests/TimeFormatingTests.cs
Due: none

implement aggregate quality for total consumption
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/tests/aggregation_utils/aggregators/test_total_consumption.py
Due: none

add aggregate quality to test data and assertions
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/Quality.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/Exchange.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/ExchangeNeighbour.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/FlexConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/GridLoss.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyProduction.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlySettledConsumption.json
Due: unit-dotnet

fix merge error
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: none

add license to new files
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/BaseDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/Quality.cs
Due: unit-dotnet

add code comment
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/MarketEvaluationPointType.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/Quality.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/SettlementMethodType.cs
Due: unit-dotnet

add code comment
  source/databricks/geh_stream/codelists/market_evaluation_point_type.py
  source/databricks/geh_stream/codelists/quality.py
  source/databricks/geh_stream/codelists/settlement_method.py
Due: none

make BaseDto fit all steps besides sys cor and grid loss
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/BaseDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ConsumptionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/GridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ProductionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/SystemCorrectionDto.cs
Due: unit-dotnet

join aggregated_quality on time series dataframe
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

Create wrapper around static system.text.json.jsonSerializer So we are able to make custom options
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
Due: integration

Refactor to use wrapped jsonSerializer
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExchangeNeighbourResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExhangeResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregationResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: unit-dotnet, integration

add aggregated_quality to all aggregation result dataframes
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Cleanup unused usings
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Services/DistributionListService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExchangeNeighbourResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregationResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/TestData.cs
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/AddBehaviorExtension.cs
  source/messaging/source/GreenEnergyHub.Messaging/IHubMessage.cs
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/MarketDocument.cs
Due: unit-dotnet, integration

Removed code not used anymore in aggregation domain (#90)
  source/databricks/geh_stream/azure/__init__.py
  source/databricks/geh_stream/azure/blob_service.py
  source/databricks/geh_stream/dataframelib.py
  source/databricks/geh_stream/validation/__init__.py
  source/databricks/geh_stream/validation/rules/__init__.py
  source/databricks/geh_stream/validation/rules/vr_200.py
  source/databricks/geh_stream/validation/rules/vr_245_1.py
  source/databricks/geh_stream/validation/rules/vr_250.py
  source/databricks/geh_stream/validation/rules/vr_251.py
  source/databricks/geh_stream/validation/rules/vr_611.py
  source/databricks/geh_stream/validation/rules/vr_612.py
  source/databricks/geh_stream/validation/validator.py
Due: none

Add copyright to new files
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/TimeFormatingTests.cs
Due: integration

wip fix unit tests
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption_ga_brp_es.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption_ga_brp_es.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_grid_area_aggregation.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

wip fix more unit tests
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption_ga_brp_es.py
Due: none

Refactor Unittest for JsonSerializerWithOption
  source/coordinator/GreenEnergyHub.Aggregation.Tests/GreenEnergyHub.Aggregation.Tests.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Tests/JsonSerializerWithOptionsTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/TimeFormatingTests.cs
Due: none

wip: comment aggregated quality coming from sys cor df
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
Due: none

remove aggregated quality for now
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
Due: none

.
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

temp fix
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

do not use alias when joining data frames
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

fix renaming and addition of aggregate_quality for added_grid_loss data frame
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
Due: none

fix failing unit tests
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production_ga_brp_es.py
Due: none

add section about debugging of aggregation trigger
  source/databricks/readme.md
Due: none

fix trailing whitespace
  source/databricks/readme.md
Due: none

Rename
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeSeriesDispatcher.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeSeriesServiceBusChannel.cs
Due: integration

Merge main into branch missed changes
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
Due: unit-dotnet

To make it easier to understand in what order workflows should be run. I've renamed the flows
  .github/workflows/aggregation-job-infra-cd.yml
  .github/workflows/build-publish-wheel-file.yml
  .github/workflows/coordinator-cd.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Update source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
Due: none

To make it easier to understand in what order workflows should be run. I've renamed the flows (#98)
  .github/workflows/aggregation-job-infra-cd.yml
  .github/workflows/build-publish-wheel-file.yml
  .github/workflows/coordinator-cd.yml
  .github/workflows/infrastructure-cd.yml
Due: none

rename MRID to mRID to match other dto's
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
Due: unit-dotnet

Inherit from baseDto
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
Due: unit-dotnet

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
