Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

Update 001_JobsTable.sql
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/001_JobsTable.sql
Due: none

Update IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
Due: integration

Delete launchSettings.json
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Properties/launchSettings.json
Due: none

dbup file name change
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/Scripts/202106191255_JobsTable.sql
Due: none

Updated domain roadmap for PI5
  README.md
Due: none

spellcheck
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Feature/128190 meta data dal in coordinator (#126)
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/IInputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Job.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MetaData/Result.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
Due: unit-dotnet, integration

WIP
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: unit-dotnet, integration

create infrastructure for master data cosmos db
  build/infrastructure/cosmos-master-data.tf
Due: none

Event listener
  source/coordinator/EventListener/.gitignore
  source/coordinator/EventListener/EventListener.cs
  source/coordinator/EventListener/GreenEnergyHub.Aggregation.EventListener.csproj
  source/coordinator/EventListener/Properties/serviceDependencies.json
  source/coordinator/EventListener/Properties/serviceDependencies.local.json
  source/coordinator/EventListener/host.json
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventBase.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventStream.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/IEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointCreatedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub.Aggregation.Domain.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/CosmosEventStore.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/EventWrapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/IEventStore.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/IEventTypeResolver.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/StreamInfo.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.sln
Due: unit-dotnet, integration

WIP. Change feed listener
  source/coordinator/EventListener/EventListener.cs
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/.gitignore
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/ChangeFeedListenerFunction.cs
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/GreenEnergyHub.Aggregation.ChangeFeedListener.csproj
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/MeteringPointEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/Properties/launchSettings.json
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/Properties/serviceDependencies.json
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/Properties/serviceDependencies.local.json
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/host.json
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/CosmosEventStore.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/EventWrapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/IEventTypeResolver.cs
  source/coordinator/GreenEnergyHub.Aggregation.sln
Due: integration

add timeseries collection to masterdata db
  build/infrastructure/cosmos-master-data.tf
Due: none

Add marketroles to cosmos with terraform
  build/infrastructure/cosmos-master-data.tf
Due: none

Add charges to cosmos with terraform
  build/infrastructure/cosmos-master-data.tf
Due: none

introduce event wrapper for events
  source/coordinator/EventListener/EventListener.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventBase.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventWrapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointCreatedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/CosmosEventStore.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/EventWrapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/IEventStore.cs
Due: unit-dotnet, integration

Add chargelinks to cosmos with terraform
  build/infrastructure/cosmos-master-data.tf
Due: none

remove partitionkey from chargelink
  build/infrastructure/cosmos-master-data.tf
Due: none

Remove all partitionskeys from master data
  build/infrastructure/cosmos-master-data.tf
Due: none

events are fetched after change in cosmos db
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventStream.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventWrapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/IEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointCreatedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/CosmosEventStore.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CosmosDb/IEventStore.cs
Due: unit-dotnet, integration

add unit test
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPoint.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: unit-dotnet

forgot to save
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/ChangeFeedListenerFunction.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: none

WIP
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/IEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPoint.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointCreatedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: unit-dotnet

WIP Add load_meteringpoints
  build/databricks_aggregation_cluster/main.tf
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/__init__.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

WIP Add azure.cosmos
  .devcontainer/Dockerfile
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

add schema
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Replay implemented
  source/coordinator/EventListener/EventListener.cs
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/ChangeFeedListenerFunction.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventBase.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/IEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/IReplayableObject.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPoint.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointCreatedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: unit-dotnet

Refactor load_meteringpoint
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/schemas/__init__.py
  source/databricks/geh_stream/schemas/metering_point_schema.py
Due: none

Tweeking of tests, eventbase and nodatime everywhere
  source/coordinator/EventListener/EventListener.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/EventBase.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointChangeSettlementMethodEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointConnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/MeteringPointDisconnectedEvent.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: unit-dotnet

.
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: none

add cosmos.oltp
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Cosmos connected
  .devcontainer/spark-defaults.conf
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Remove azure-cosmos package
  .devcontainer/Dockerfile
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

minor changes
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/ChangeFeedListenerFunction.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/EventSourcingTests.cs
Due: none

Complete meteringpoint schema
  source/databricks/geh_stream/schemas/metering_point_schema.py
Due: none

next step
  source/coordinator/GreenEnergyHub.Aggregation.ChangeFeedListener/ChangeFeedListenerFunction.cs
Due: none

remove timeseries container + add partition key on meteringpoint container
  build/infrastructure/cosmos-master-data.tf
Due: none

fix typo
  build/infrastructure/cosmos-master-data.tf
Due: none

Add combine dataframe function
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/__init__.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Initial work
  build/infrastructure/azfun-generator.tf
  build/infrastructure/stor-generator.tf
Due: none
