Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Unit test on inputprocessor
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
Due: unit-dotnet

refactor Terraform
  .github/actions/terraform-cd/action.yml
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/variables.tf
Due: none

Function keys on internal endopints (#113)
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
Due: unit-dotnet, integration

Updated message information in outgoing json
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/ProcessRole.cs
Due: unit-dotnet

Fixed sender GLN for special case eSett
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Services/GlnService.cs
Due: unit-dotnet

A reference implementation for open api attributes on azure function endpoints (#112)
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/GreenEnergyHub.Aggregation.CoordinatorFunction.csproj
Due: integration

Fix for missing link
  README.md
Due: none

inputprocessor test (#116)
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputProcessorTests.cs
Due: unit-dotnet

add copyright
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/ProcessRole.cs
Due: unit-dotnet

Added copywright disclaimer and minor cleanup
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/ProcessRole.cs
Due: unit-dotnet

Added sonarcloud yml for github action
  .github/workflows/sonarcloud.yml
Due: none

Added sonar properties
  source/databricks/sonar-project.properties
Due: none

Added new line to files
  .github/workflows/sonarcloud.yml
  source/databricks/sonar-project.properties
Due: none

Fixed branch to main
  .github/workflows/sonarcloud.yml
Due: none

Moved sonar properties to root
  sonar-project.properties
Due: none

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

add sonar-cloud.yml file
  .github/workflows/sonar-cloud.yml
Due: none

renaming of yml files and step names
  .github/workflows/sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-python.yml
Due: none

yet another rename
  .github/workflows/sonarcloud-python.yml
Due: none

test
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
Due: unit-dotnet

remove unused code
  .github/workflows/sonarcloud-dotnet.yml
Due: none

use dotnet build of solution file instead of project file
  .github/workflows/sonarcloud-dotnet.yml
Due: none

trying different approach on sonar dotnet build
  .github/workflows/sonarcloud-dotnet.yml
Due: none

using msbuild
  .github/workflows/sonarcloud-dotnet.yml
Due: none

use dotnet msbuild
  .github/workflows/sonarcloud-dotnet.yml
Due: none

correct path to solution file
  .github/workflows/sonarcloud-dotnet.yml
Due: none

use dotnet build with correct solution path
  .github/workflows/sonarcloud-dotnet.yml
Due: none

moved sonar-project.properties file to databricks folder
  source/databricks/sonar-project.properties
Due: none

add args to somarcloud-python.yml instead of getting them from properties file
  .github/workflows/sonarcloud-python.yml
Due: none

delete properties file for sonar cloud
  source/databricks/sonar-project.properties
Due: none

use another project for sonarcloud for dotnet analysis
  .github/workflows/sonarcloud-dotnet.yml
Due: none

Add sonar cloud to repo (#119)
  .github/workflows/sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-python.yml
  sonar-project.properties
Due: none

Update sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-dotnet.yml
Due: none

.
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
Due: unit-dotnet

Set paths for sonar cloud
  .github/workflows/sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-python.yml
Due: none

SonarCloud work (#121)
  .github/workflows/sonarcloud-dotnet.yml
  .github/workflows/sonarcloud-python.yml
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
Due: unit-dotnet

Update sonarcloud-python.yml
  .github/workflows/sonarcloud-python.yml
Due: none

Path conditions:
  unit-python: any of: geh_stream/aggregation_utils/aggregators/, geh_stream/aggregation_utils/filters/, geh_stream/codelists/, geh_stream/schemas/, geh_stream/streaming_utils/utils.py, geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: aggregation-jobs/, geh_stream/azure/, geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
