Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

Divide test
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

include AQ
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

dumb aq
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

colasce
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

Fixed unit tests after refactoring aggregation result strategies
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeNeighbourResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AdjustedFlexConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AdjustedProductionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/FlexConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyProduction.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeNeighbourTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeStrategyTests.cs
Due: unit-dotnet

snapshot path fix
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
Due: none

add excel validation schema
  source/databricks/test_data_creation/Excel-data in delta lake for one hour (With results) (Validated)).xlsb.xlsx
Due: none

Reduce the result set to only include what needs to be send (#101)
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

Remove aggregated quality from grid loss dataframe (#103)
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_flex_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

Refactor test to use deserialization with option to get correct time conversion Add TimeWindowDto.cs to match received json and add custom deserialize method to JsonSerializerWithOption.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/AggregationResultDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/TimeWindowDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/TestData.cs
Due: unit-dotnet, integration

Run on push on main branch
  .github/workflows/codecov-ci.yml
Due: none

Update source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

spark.databricks.io.cache.enabled
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Add copyright to TimeWindowDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/TimeWindowDto.cs
Due: unit-dotnet

F* python
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Add copyright to test files
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AdjustedFlexConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AdjustedProductionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeNeighbourTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeStrategyTests.cs
Due: none

Run on push on main branch (#105)
  .github/workflows/codecov-ci.yml
Due: none

Removed blobservice since it is not used and fix minor bug
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/databricks/geh_stream/aggregation_utils/services/__init__.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
  source/databricks/geh_stream/aggregation_utils/services/blob_service.py
Due: integration

Update source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: none

Change double to decimal energyQuantity
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/AggregationResultDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/Types/EnergyObservation.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeNeighbourTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeStrategyTests.cs
Due: unit-dotnet

revert TimeWindowDto.cs and fix test data
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/AggregationResultDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/TimeWindowDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/Exchange.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/ExchangeNeighbour.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/FlexConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/GridLoss.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlyProduction.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/HourlySettledConsumption.json
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Assets/SystemCorrection.json
Due: unit-dotnet

chang deserialize method
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
Due: integration

Initial work
  build/infrastructure/kv-sharedresources.tf
  build/infrastructure/sqldb-metadata.tf
  build/infrastructure/variables.tf
Due: none

.
  build/infrastructure/sqldb-metadata.tf
Due: none

constring
  build/infrastructure/azfun-coordinator.tf
Due: none

Added strategies to handle results from step 12-21
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step01ExchangePerNeighbourStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step02ExchangeStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step03HourlyConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step10FlexConsumptionStrategyTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step11ProductionStrategyTests.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: unit-dotnet

.
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/kv-sharedresources.tf
Due: none

Renamed step 08/09 strategy
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
Due: unit-dotnet

Cleanup warnings as they are treated as errors
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/Step10FlexConsumptionStrategyTests.cs
Due: integration

.
  build/infrastructure/kv-sharedresources.tf
Due: none

connection string formatting
  build/infrastructure/azfun-coordinator.tf
Due: none

Fixed error in grid loss calculator
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

Fixed failing unit tests
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/tests/aggregation_utils/aggregators/test_grid_loss_calculation.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_grid_area_aggregation.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
  source/databricks/tests/aggregation_utils/aggregators/test_total_consumption.py
Due: none

Initial boilerplate for DAL
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IMetaDataDataAccess.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
Due: integration

This implements the ability to save snapshots of the aggregation source data (#104)
  build/infrastructure/azfun-coordinator.tf
  build/infrastructure/variables.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/ICoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Utilities/InputStringParser.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/BlobStorage/BlobService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/IJsonSerializer.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/JsonSerializerWithOption.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/InputStringParserTests.cs
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/services/__init__.py
  source/databricks/geh_stream/aggregation_utils/services/aggregation_postprocessor.py
  source/databricks/geh_stream/aggregation_utils/services/blob_service.py
  source/databricks/geh_stream/aggregation_utils/services/coordinator_service.py
Due: unit-dotnet, integration

Fixed creation of messages for exchange per grid areas
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregatedExchangeNeighbourResultMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/ConsumptionResultMessageToDtoMapper.cs
Due: unit-dotnet, integration
