Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

codecov.yml:

flags:
  unit-python:
    paths:
      - geh_stream/aggregation_utils/aggregators/
      - geh_stream/aggregation_utils/filters/
      - geh_stream/codelists/
      - geh_stream/schemas/
      - geh_stream/streaming_utils/utils.py
      - geh_stream/validation/
  unit-dotnet:
    paths:
      - source/coordinator/GreenEnergyHub.Aggregation.Application/
      - source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration:
    paths:
      - aggregation-jobs/
      - geh_stream/azure/
      - geh_stream/monitoring/
      - source/coordinator/GreenEnergyHub.Aggregation.Coordinator/
      - source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
coverage:
  status:
    project:
      default:
        flags:
          - unit-python
          - unit-dotnet
          - integration
      unit:
        flags:
          - unit-python
          - unit-dotnet
      integration:
        flags:
          - integration

Removed bulk servicebus channel
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/DependencyInjectionExtensions.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/ServiceBusChannelBase.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/Channel.cs
  source/messaging/source/GreenEnergyHub.Messaging/Transport/MessageDispatcher.cs
Due: integration

Fixed warnings
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/InputProcessor.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/MetaDataDataAccess.cs
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/GreenEnergyHub.Messaging.Integration.ServiceCollection.csproj
Due: unit-dotnet, integration

Reintroduce code that should not have been removed aggregators exchange per neighbour
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Fix duplicate join problem in exchange per neighbour Changed the join code to use filter and renamed columns causing problems
  source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Remove override
  source/test-data-generation/GreenEnergyHub.Aggregation.TestData.Application/Parsers/BalanceResponsiblePartyRelationTestParser.cs
Due: none

WIP
  source/coordinator/GreenEnergyHub.Aggregation.Application/GreenEnergyHub.Aggregation.Application.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/GreenEnergyHub.Aggregation.CoordinatorFunction.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.DatabaseMigration/GreenEnergyHub.Aggregation.DatabaseMigration.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub.Aggregation.Domain.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/GreenEnergyHub.Aggregation.Infrastructure.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/StartupConfig.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/ExchangeStrategiesTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/GreenEnergyHub.Aggregation.Tests.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/GreenEnergyHub.Messaging.Integration.ServiceCollection.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/ServiceCollectionValidationExtension.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/GreenEnergyHub.Messaging.Protobuf.csproj
  source/messaging/source/GreenEnergyHub.Messaging/GreenEnergyHub.Messaging.csproj
Due: unit-dotnet, integration

Change quantity decimal precision and scale to fit rsm guidelines
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_flex_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_combine_master_data.py
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption_ga_brp_es.py
  source/databricks/tests/aggregation_utils/aggregators/test_grid_loss_calculation.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption_ga_brp_es.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production.py
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production_ga_brp_es.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_grid_area_aggregation.py
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
  source/databricks/tests/aggregation_utils/aggregators/test_total_consumption.py
Due: none

Got http triggers working
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/GreenEnergyHub.Aggregation.CoordinatorFunction.csproj
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Properties/launchSettings.json
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/StartupConfig.cs
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/GreenEnergyHub.Messaging.Integration.ServiceCollection.csproj
Due: integration

WIP
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Program.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Properties/launchSettings.json
Due: integration

Create names enum with all the names of columns To make it easier to change naming
  source/databricks/geh_stream/codelists/__init__.py
  source/databricks/geh_stream/codelists/names.py
Due: none

Use names from names enum to translate dataframe
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
Due: none

Implement names from Names enum in aggregate_quality
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

Implement names from Names enum in aggregators file
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Local working
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/CoordinationTriggers.cs
Due: integration

remove .show from aggregate_ne_exchange_per_ga
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Implement Names enum in combine_master_data file
  source/databricks/geh_stream/aggregation_utils/aggregators/combine_master_data.py
Due: none

Implement Names enum in gris_loss_calculator file
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: none

Implement Names enum for aggregate_total_consumption_quality method
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregate_quality.py
Due: none

Implement Names enum in adjust_flex_consumption file
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
Due: none

Implement Names enum in adjust_production file
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
Due: none

Add grid_loss, added_grid_loss and added_system_correction to Names
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_flex_consumption.py
  source/databricks/geh_stream/aggregation_utils/aggregators/adjust_production.py
  source/databricks/geh_stream/aggregation_utils/aggregators/combine_master_data.py
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
  source/databricks/geh_stream/codelists/names.py
Due: none

Clean up
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregation_initializer.py
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: none

Implement Names enum in test_added_grid_loss file
  source/databricks/tests/aggregation_utils/aggregators/test_added_grid_loss.py
Due: none

Initial refactoring
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step0809CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
Due: unit-dotnet

Implement Names enum in test_added_system_correction
  source/databricks/tests/aggregation_utils/aggregators/test_added_system_correction.py
Due: none

Implement Names enum in test_adjust_flex_consumption
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_flex_consumption.py
Due: none

Implement Names enum in test_adjust_production
  source/databricks/tests/aggregation_utils/aggregators/test_adjust_production.py
Due: none

code smell
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/BaseStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step01ExchangePerNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step02ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step03HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step10FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step11ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step12ProductionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step13HourlyConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step14FlexConsumptionPerSupplierStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step15ProductionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step16HourlyConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step17FlexConsumptionPerBrpStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step18ProductionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step19HourlyConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step20FlexConsumptionPerGridAreaStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/Step21TotalConsumptionPerGridAreaStrategy.cs
Due: unit-dotnet

Implement Names enum in test_aggregate_quality
  source/databricks/tests/aggregation_utils/aggregators/test_aggregate_quality.py
Due: none

Implement Names enum in test_combine_master_data
  source/databricks/tests/aggregation_utils/aggregators/test_combine_master_data.py
Due: none

Implement Names enum in test_flex_consumption_ga_brp_es
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption_ga_brp_es.py
Due: none

Implement Names enum in test_flex_consumption
  source/databricks/tests/aggregation_utils/aggregators/test_flex_consumption.py
Due: none

Implement Names enum in test_grid_loss_calculation
  source/databricks/tests/aggregation_utils/aggregators/test_grid_loss_calculation.py
Due: none

Implement Names enum in test_hourly_consumption_ga_brp_es
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption_ga_brp_es.py
Due: none

Implement Names enum in test_hourly_consumption
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_consumption.py
Due: none

Implement Names enum in test_hourly_production_ga_brp_es
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production_ga_brp_es.py
Due: none

Implement Names enum in test_hourly_production
  source/databricks/tests/aggregation_utils/aggregators/test_hourly_production.py
Due: none

Implement Names enum in test_net_exchange_grid_area_aggregation
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_grid_area_aggregation.py
Due: none

Implement Names enum in test_net_exchange_neighbour
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

Implement Names enum in test_totaL_consumption
  source/databricks/tests/aggregation_utils/aggregators/test_total_consumption.py
Due: none
