Repository Energinet-DataHub/ARCHIVED-geh-aggregations: changes, and which Codecov flags are due for each by the changed paths.
All: unit-python, unit-dotnet, integration

Test without filter on dotnet
  .github/workflows/codecov-ci.yml
Due: none

Change paths
  codecov.yml
Due: none

Removed since it is part of the nuget section
  NOTICE.md
Due: none

Moved to github actions section
  NOTICE.md
Due: none

Add to separate line
  NOTICE.md
Due: none

Merge branch 'main' into feature/126056-datetime-handling
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedHourlyProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/HourlyConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/HourlyProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/AggregatedMeteredDataTimeSeries.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeNeighbourDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeNeighbourDto.cs
Due: unit-dotnet

Update source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeNeighbourResultMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregatedExchangeNeighbourResultMessage.cs
Due: unit-dotnet

Add utc on start and end timestamp
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
Due: unit-dotnet

remove validate method
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

save debugz.sh using LF line ending settings to avoid carriage return
  source/databricks/debugz.sh
Due: none

Renamed all mRID properties to follow standard
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/MarketEvaluationPoint.cs
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/Transaction.cs
Due: unit-dotnet

Fixed time format in unit tests
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
  source/coordinator/GreenEnergyHub.Aggregation.sln.DotSettings
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/MarketEvaluationPoint.cs
Due: none

Fixed last mRID to MRID as it is a class property
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/Transaction.cs
Due: none

Update readme.md
  source/databricks/readme.md
Due: none

fix typo
  source/databricks/readme.md
Due: none

linting
  source/databricks/readme.md
Due: none

Misc fixes
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Services/SpecialMeteringPointsService.cs
Due: unit-dotnet

change to match result column after added aggregated quality
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

add code comment
  source/databricks/geh_stream/aggregation_utils/aggregators/grid_loss_calculator.py
Due: unit-python

Removed datetime usage
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/AggregationResultMessageToDtoMapper.cs
  source/messaging/source/GreenEnergyHub.Messaging/MessageTypes/Common/MarketDocument.cs
Due: integration

Fixed aggregation calculation
  source/databricks/geh_stream/aggregation_utils/aggregators/aggregators.py
Due: unit-python

Refactoring of ServiceBus, removes some dublicated code
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/PostOfficeServiceBusChannel.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/ServiceBusChannelBase.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeseriesServiceBusChannel.cs
Due: integration

Added path to gridloss and sys corr. metering points data to infrastructure
  build/infrastructure/azfun-coordinator.tf
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/CoordinatorService.cs
  source/coordinator/GreenEnergyHub.Aggregation.Coordinator/Startup.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/CoordinatorSettings.cs
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: unit-dotnet, integration

various code fixes
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Tests/AggregationHandlerTests.cs
Due: unit-dotnet

Removed print from unit test
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

Fixed failing unit test for net exchange pr neighbour
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

Fixed unit test (missing in last commit)
  source/databricks/tests/aggregation_utils/aggregators/test_net_exchange_neighbour.py
Due: none

Update source/databricks/aggregation-jobs/aggregation_trigger.py
  source/databricks/aggregation-jobs/aggregation_trigger.py
Due: integration

Renamed DTO to end with DTO
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/CombinedGridLossStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
Due: unit-dotnet

Add copyright to new files that are missing it
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/CombinedGridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/MeteringPointOutboundMessage.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/MeteringPointMessageToDtoMapper.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/PostOfficeServiceBusChannel.cs
  source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/ServiceBusProtobuf/TimeseriesDispatcher.cs
Due: unit-dotnet, integration

Removed code not used anymore in aggregation domain
  source/databricks/geh_stream/azure/__init__.py
  source/databricks/geh_stream/azure/blob_service.py
  source/databricks/geh_stream/dataframelib.py
  source/databricks/geh_stream/validation/__init__.py
  source/databricks/geh_stream/validation/rules/__init__.py
  source/databricks/geh_stream/validation/rules/vr_200.py
  source/databricks/geh_stream/validation/rules/vr_245_1.py
  source/databricks/geh_stream/validation/rules/vr_250.py
  source/databricks/geh_stream/validation/rules/vr_251.py
  source/databricks/geh_stream/validation/rules/vr_611.py
  source/databricks/geh_stream/validation/rules/vr_612.py
  source/databricks/geh_stream/validation/validator.py
Due: unit-python, integration

create BaseDto
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/BaseDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ConsumptionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ExchangeDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/GridLossDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/ProductionDto.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/SystemCorrectionDto.cs
Due: unit-dotnet

Removed unused Newtonsoft.Json package
  source/coordinator/GreenEnergyHub.Aggregation.Domain/GreenEnergyHub.Aggregation.Domain.csproj
Due: unit-dotnet

remove redundant code
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
Due: unit-dotnet

add AggregatedQuality to BaseDto
  source/coordinator/GreenEnergyHub.Aggregation.Domain/DTOs/BaseDto.cs
Due: unit-dotnet

add AggregatedQuality to result message and all strategies
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedFlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/AdjustedProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeNeighbourStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ExchangeStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/FlexConsumptionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Application/Coordinator/Strategies/ProductionStrategy.cs
  source/coordinator/GreenEnergyHub.Aggregation.Domain/ResultMessages/AggregationResultMessage.cs
Due: unit-dotnet

Path conditions:
  unit-python: any of: source/databricks/geh_stream/aggregation_utils/aggregators/, source/databricks/geh_stream/aggregation_utils/filters/, source/databricks/geh_stream/codelists/, source/databricks/geh_stream/schemas/, source/databricks/geh_stream/streaming_utils/utils.py, source/databricks/geh_stream/validation/
  unit-dotnet: any of: source/coordinator/GreenEnergyHub.Aggregation.Application/, source/coordinator/GreenEnergyHub.Aggregation.Domain/
  integration: any of: source/databricks/aggregation-jobs/, source/databricks/geh_stream/azure/, source/databricks/geh_stream/monitoring/, source/coordinator/GreenEnergyHub.Aggregation.Coordinator/, source/coordinator/GreenEnergyHub.Aggregation.Infrastructure/
